:root {
  --slideLeftTime: 1s;
  --maroon: #820000;
  --red: #C10000;
  --lightGrey: #EEEEEE;
  --grey: #DEDEDE;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--lightGrey);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Roboto', sans-serif;
}

a, a:visited {
  color: var(--maroon);
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.introduction {
  padding-top: 20px;
  background: linear-gradient(170deg, var(--maroon) 0%, var(--maroon) 60.5%, var(--lightGrey) 61%, var(--lightGrey) 100%);
  margin-top: 0;
  min-height: 440px;
  width: 100vw;

  position: relative;
  display: flex;
  align-items: center;
}

.profilePicture {
  position: relative;
  width: 350px;
  height: 400px;
  margin-left: 20px;
  display: inline-block;
  box-shadow: 0 0 10px black;
  z-index: 5;
  animation: slideLeft var(--slideLeftTime);

  background-image: url('../assets/photo/star.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: normal;
}

.descriptionContainer {
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;

  background-color: white;
  box-shadow: 0 0 5px black;
  padding: 20px;

  /* hide it before animation */
  opacity: 0;
  max-width: 60vw;
  min-height: 200px;
  animation: slideLeft var(--slideLeftTime) var(--slideLeftTime);
  animation-fill-mode: forwards;
  /* keep change of opacity after animation */
}

.title {
  margin: 0;
  margin-bottom: 10px;
}

.iconBar {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform .5s;
}

.icon:hover {
  transform: rotate(360deg);
}

.paddingLeft {
  padding-left: 20px;
}

.projectContainer {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
  min-height: 600px;
}

.project {
  background-color: var(--lightGrey);
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.projectName {
  margin: 10px 0 10px 0;
}

.projectNameWrapper {
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  align-items: center;
  column-gap: 10px;
  padding: 0 20px 0 20px;
}

.liveLink {
  white-space: nowrap;
}

.projectPicture {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid var(--grey);
  border-radius: 10px 10px 0 0;
}

.description {
  white-space: pre-line;
  padding-right: 10px;
}